chroma-hnswlib
chromadb
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langdetect
langsmith
nltk
ollama
openai
pdf2image
pi_heif
streamlit
streamlit-extras
streamlit-faker
streamlit-option-menu
streamlit-toggle-switch
streamlit-vertical-slider
Swarm
tesseract
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
