chroma-hnswlib==0.7.6
chromadb==0.6.3
langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.31
langchain-ollama==0.2.2
langchain-text-splitters==0.3.5
langdetect==1.0.9
langsmith==0.3.1
nltk==3.9.1
ollama==0.4.7
openai==1.60.1
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
pi_heif==0.21.0
streamlit==1.41.1
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-option-menu==0.4.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
Swarm==0.0.2
tesseract==0.1.3
unstructured==0.16.12
unstructured-client==0.29.0
unstructured-inference==0.8.6
unstructured.pytesseract==0.3.13
